<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jk.mapper.CompanyResourceMapper">

    <update id="deleteResource" parameterType="java.lang.Long">
        UPDATE company_resource SET  deleted = 1
        WHERE id = #{id}
    </update>

    <update id="deleteBatchResource" parameterType="java.util.List">
        UPDATE company_resource SET deleted = 1
        WHERE id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
            </foreach>
    </update>
</mapper>