management:
  endpoints:
    web:
      exposure:
        include: '*'
    jmx:
      exposure:
        include: '*'
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always
  health:
    rabbit:
      enabled: false
    elasticsearch:
      enabled: false

---
spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

---
aes:
  key: jkstack123456789
  algorithm: AES/CBC/PKCS5Padding
  offset: 9a8b7c6d5e4f3g2h